body {
  height: 100%;
}
.container {
  display: grid;
  text-align: center;
  gap: 10px;
  grid-template-areas:
    "numPartidas maxPuntos puntos cronometro"
    "baraja baraja baraja baraja";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.reloj {
  display: inline;
}

.modal-content {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  display: grid;
}
.modal-header {
  padding-top: 3%;
  background-color: whitesmoke;
  font-family: "good-times";
  font-weight: bold;
}

.modal-body {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  padding: 3%;
}

.contenido {
  margin-left: auto;
  margin-right: auto;
}
.div1 {
  display: flex;
}
.hidden {
  display: none;
}
.bg-white {
  margin-top: 10px;
  width: 100px;
  height: 125px;
  background-image: radial-gradient(
    circle at 57.65% 57.65%,
    #d0e8c3 0,
    #d0e8c3 50%,
    #d0e8c3 100%
  );
}
.extraClass {
  align-items: center;
  font-size: 2em;
  margin: 0 auto;
}

/* card */
.maincontainer {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.4s;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc738;
  color: #000;
  text-align: center;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: purple;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}
.flipCard {
  transform: rotateY(180deg);
}
