body {
  height: 100%;
}
.container {
  display: grid;
  text-align: center;
  gap: 10px;
  grid-template-areas:
    "numPartidas maxPuntos puntos cronometro"
    "baraja baraja baraja baraja";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.reloj {
  display: inline;
}

.modal-content {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  display: grid;
}
.modal-header {
  padding-top: 3%;
  background-color: whitesmoke;
  font-family: "good-times";
  font-weight: bold;
}

.modal-body {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  padding: 3%;
}
